# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

build/

src/ssd1322\.c

core

stm32f030f4\.ld

*.bak

stm32f031f4\.ld

stm32f031k6\.ld

inc/buffer\.h

inc/frame\.h

inc/sprite\.h

inc/buffer\.h

src/frame\.c

src/buffer\.c

